{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Add heading code -->
    <h1 style="color: #3a4c46"> Menu </h1>
    <!-- Add paragraph code -->

    <!-- Add image code -->
<img src="{% static 'images/pasta.jpg' %}" alt="pasta">
<ul>Pasta Perfection
    <li>Spaghetti Carbonara - Spaghetti pasta tossed in a rich egg and Parmesan cheese sauce, finished with crispy pancetta.</li>
    <li>Ravioli di Spinaci - Homemade spinach and ricotta-filled ravioli served with a light sage butter sauce.</li>
    <li>Linguine Frutti di Mare - Linguine pasta served with a delightful seafood medley of shrimp, clams, mussels, and calamari in a garlic and white wine sauce.</li>
</ul>

<img src="{% static 'images/pasta.jpg' %}" alt="pasta">
<li>Pizza Delights</li>
<li>Savor the true essence of Italian pizza with our diverse selection. From the timeless margherita to the enticing prosciutto e rucola, our wood-fired pizzas will delight your taste buds.
</li>
</body>

</html>